body{
    background-color: rgb(98, 86, 177);
    cursor: url(https://github.com/jayrking/jayrking.github.io/blob/master/assignments/project1/img/cursor.png?raw=true), auto;

}

img{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

header{
    margin-top: 80px;
    text-align: center;
}

h1{
    font-family: josefin-sans, sans-serif;
    font-size: 50px;
    color: white;
}

.animal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    height: 400px;
    width: 550px;
    margin-top: 40px;
}

.animal .background{
    background-color: rgb(255, 109, 153);
}

.picture{
    height: 340px;
    margin: 30px;
}

.picture:hover{
    cursor: url(https://github.com/jayrking/jayrking.github.io/blob/master/assignments/project1/img/purple_heart.png?raw=true), auto;

}

.text{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.description{
    width: 600px;
    color: white;
    font-size: 18px;
}

.left{
    display: flex;
    float: left;
    flex-direction: column;
    position: absolute;
    top: 80px;
    margin-left: 100px;
    margin-top: 100px;
    justify-content: center;
}


.left div{
    width: 100px;
    margin-top: 20px;
}

.right{
   float: right;
   display: flex;
}

.wwf{
    position: absolute;
    top: 200px;
    right: 100px;
    height: 300px;
}

.left p{
    font-family: 'Opake', sans-serif;  
}

.sound, .image, .video{
    color: rgb(252, 221, 84);
    text-align: center;
    font-size: 25px;
}

.right p{
    font-size: 30px;
    font-family: 'Opake', sans-serif;
    color:  rgb(252, 221, 84);
    text-align: center;
}

.text p{
    font-family: josefin-sans, sans-serif;
}

.left .home{
    background-color: rgb(252, 221, 84);
    border-radius: 20px;
    font-size: 30px;
    width: 160px;
    height: 70px;
    line-height: 15px;
    text-align: center;
}

.left .home p{
    color: rgb(155, 86, 160);
}

a:link{
    text-decoration: none;
}
