/*    Communal Features Here   */
*{
    box-sizing: border-box;
    border: 1px solid black;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

header{
    padding: 15px;
    display: block;
    height: auto;
   max-width: 150px;
}

nav{
    width: 500px;
    height: 80px;
    right: 0px;
    top: 50px;
    position: fixed;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

nav li{
    font-size: 25px;
    padding: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

li a{
    color: black;
}

li a:hover{
    color: white;
}

footer p{
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
 
}

.topper{
    width: 500px;
    right: 0px;
    top: 4px;
    position: fixed;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    overflow: hidden;
}



/*        Page Specific Rules: INDEX Page         */

.index{
    background-color: rgb(255, 255, 255);
}

.index .topper{
    color: teal;
    background-color: thistle;
    border: 2px solid teal;
}

.index nav{
    background-color: tomato;
}

.index footer{
    background-color: violet;
}


#text {
    padding: 0.5em;
    word-wrap: break-word;
    text-align: left;
    user-select: none;
    padding-top: 100px;
    font-size: 40px;
    width: 70%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
  }
  
  #text::after {
    content: "_";
    opacity: 0;
    animation: cursor 0.5s infinite alternate;
  }
  
  @keyframes cursor {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.8;
    }
  }

.tgt1{
    padding: 10px;
    max-width: 40%;
    height: 500px;
    right: 0px;
    position: absolute;
    object-fit: contain;
    z-index: -999;
}

.fucktgt{
    padding: 10px;
    padding-left: 50px;
    margin-top: 200px;
    width: 50%;
    height: auto;
    margin-bottom: 300px;
    object-fit: contain;

}

/* This is where the scrolling image begins!  */

.container{
    overflow: hidden;
    object-fit: contain;
}

.sliding{
  width: 1000px;
  height: 60px;
    background: url(img/scroller.png);
    background-repeat: repeat;
    animation: slide 60s infinite;
   
}

@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1000px, 0, 0); /* The image width */
    }
  }

  /*        Page Specific Rules: ABOUT Page         */