/*    Communal Features Here   */
*{
    box-sizing: border-box;
    border: 1px solid black;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

header{
    padding: 15px;
    display: block;
    height: auto;
   max-width: 150px;
}

nav{
    width: 500px;
    height: 80px;
    right: 0px;
    top: 50px;
    position: fixed;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

nav li{
    font-size: 25px;
    padding: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

li a{
    color: black;
}

li a:hover{
    color: white;
}

footer p{
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
 
}

.topper{
    width: 500px;
    right: 0px;
    top: 4px;
    position: fixed;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    overflow: hidden;
    display: block;
}

/* Media Query 1 */

@media only screen and (min-width: 1200px) {
   .topper{
       width: 600px;
    }

   nav{
    width: 600px;
    height: 100px;
}

nav li{
    font-size: 35px;
    padding: 10px;
    padding-top: 10px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

header{
    padding: 15px;
    display: block;
    height: auto;
   max-width: 200px;
}



  }


/*        Page Specific Rules: INDEX Page         */

.index{
    background-color: white;
}

.index .topper{
    color: rgb(129, 241, 215);
    background-color: white;
    border: 2px solid rgb(129, 241, 215);
}

.index nav{
    background-color: rgb(129, 241, 215);
}

.index footer{
    background-color: rgb(129, 241, 215);
}

/* Typewriter Effect */

#text {
    padding: 0.5em;
    word-wrap: break-word;
    text-align: left;
    user-select: none;
    padding-top: 100px;
    font-size: 40px;
    width: 70%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
  }
  
  #text::after {
    content: "_";
    opacity: 0;
    animation: cursor 0.5s infinite alternate;
  }
  
  @keyframes cursor {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.8;
    }
  }

.tgt1{
    padding: 10px;
    max-width: 40%;
    height: 500px;
    right: 0px;
    position: absolute;
    object-fit: contain;
    z-index: -999;
}

.fucktgt{
    padding: 10px;
    padding-left: 50px;
    margin-top: 200px;
    width: 50%;
    height: auto;
    margin-bottom: 300px;
    object-fit: contain;

}

/* This is where the scrolling image begins!  */

.container{
    overflow: hidden;
    object-fit: contain;
}

.sliding img{
  width: 50%;
  height: auto;
  padding: 0;
  margin: 0;
}



  /*        Page Specific Rules: FAQ Page         */
.faq{
    font-family: futura-pt, sans-serif;
}  

.faq .topper{
    color: rgb(151, 95, 243);
    background-color: white;
    border: 2px solid rgb(151, 95, 243);;
}

.faq nav{
    background-color: rgb(151, 95, 243);
}

.faq footer{
    background-color: rgb(151, 95, 243);
}

.faq main{
    width: 70%;
}

.faq div{
    padding: 0;
}

.wrongted{

    height: auto;
    margin-top: 5%;
}

.faq h3{
    font-size: 5vw;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 3%;
    color: rgb(245, 92, 228);

}

.faq h4{
    font-weight: 600;
    font-size: 3vw;
    color: white;
}

.answer p{
    font-weight: 400;
    font-size: 2vw;
}

.purplebox{
  background-color: rgb(151, 95, 243);
}

.pinkbox{
    background-color: rgb(245, 92, 228);
}

.answer a{
    text-decoration: none;
    color: rgb(245, 92, 228);
}

.answer a:hover{
    color: rgb(151, 95, 243);
}

  /*        Page Specific Rules: Merch Page         */

.merch{
    font-family: futura-pt, sans-serif;
}

.merch .topper{
    color: rgb(132, 186, 249);
    background-color: white;
    border: 2px solid rgb(132, 186, 249);
}

.merch nav{
    background-color: rgb(132, 186, 249);
}

.merch footer{
    background-color: rgb(132, 186, 249);
}

.merch main{
    padding-top: 7vw;
    width: 90vw;
    display: block;
    margin: auto;
}

.flexbox{
display: flex;
flex-flow: row wrap;
justify-content: space-around;
margin-bottom: 5vw;
}

.child{
    padding: 10px;
    margin: 60px;
    height: 300px;
    width: 300px;
    text-align: center;
}

.child .txt{
    margin-top: 15px;
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    color: white;
    background-color: rgb(132, 186, 249);
}

.child .txt span{
    font-weight: 400;
}

.merch .title{
    top: 150px;
    right: 100px;
    position: absolute;
}
.merch h1{
    font-size: 64px;
    color: rgb(132, 186, 249);
    font-weight: 700;
}

.merch h4{
    font-size: 24px;
    font-weight: 300;
}

/*  Media Query 2 */

@media only screen and (max-width: 900px) {

 .merch .title{
     top: 120px;
     right: 30px;
    
 }
 .merch h1{
     font-size: 38px;
     
     font-weight: 700;
 }
 
 .merch h4{
     font-size: 18px;
     font-weight: 300;
 }

 .flexbox{
     margin-bottom: 10vw;
 }
 
}

/*   Page Specific Rules: CONTACT page   */

.contact{
    font-family: futura-pt, sans-serif;
}

.contact h1{
    font-size: 40px;
    
}

/*   Page Specific Rules: SUBMIT page   */

.submit{
    font-family: futura-pt, sans-serif;
}

.submit h1{
    font-size: 55px;
    text-align: center;
    padding-bottom: 20%;
    padding-top: 10%;
}