* {box-sizing: border-box;}
body { 
	font-size: 15px;
	margin: 0;
	background-color: rgb(231, 243, 64);
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	line-height: 32px;
	margin-bottom:0;
	color: rgb(67, 104, 172);
}
h2 { 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin:0;
	color: rgb(113, 211, 121);
}
header h2 {font-weight: normal;
			color: rgb(212, 99, 197);			
}
header {
	width: 80%;
	margin: auto;
}
img { max-width: 100%;
	max-height: 100%;
	display: block;
	margin-bottom: 10px;
}

.first .hide{

	display: none;
}

.first .txt{
	padding-left: 20px;
}

section {
	width: 90%;
	margin: auto;
	padding: 20px;
}

.first {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.second {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.second div{
	padding: 20px;
}

.button {
	padding: 5px;
	text-decoration: none;
	color: rgb(119, 21, 21);
	margin-bottom: 20px;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
}
.button:hover {
	
	color: rgb(144, 123, 240);
}

@media only screen and (min-width: 768px) {
	body{
		background-color: rgb(181, 135, 224);
	}

	h1 {
		font-size: 60px;
		line-height: 68px;
		color: aqua;
	}
	h2 {
		font-size: 32px;
		line-height: 42px;
		color: rgb(17, 77, 40);
	}
	header {
		width: 80%;
	}
	header h2 {font-weight: bold;
		color: rgb(80, 15, 141);
	}

	.first {
		flex-direction: row;
		margin: 0 auto;
		width: 80%;
	}

	.second {
		flex-direction: row;
	}

	section {
		margin-right: 30px;
	}
	
	.first .hide {
		display:block;
		font-size: 14px;
	}
	img { width: 100%;
		max-width: 1050px;
		display: block;
		margin-bottom: 10px;
	}

	.button {
		padding: 20px;
		font-size: 20px;

	}

}


@media only screen and (min-width: 2400px) {
	section, header {
		width: 60%;
	}

}