* {
    background-color: rgb(252, 221, 84);
}



main {
    padding: 20px;
}

h1 {
    font-size: 60px;
    color:rgb(155, 86, 160) ;
   font-family: 'Opake', Geneva, Verdana, sans-serif;
   text-align: center;
   margin: auto;
   padding-top: 20px;
}

.animals {
    display: flex;
    justify-content: center;
    height: 80%;
    flex-wrap: wrap;
}

.animals div {
    flex: 1;
    margin: 30px;
    text-align: center;
    font-size: 35px;
    font-family: 'Opake', sans-serif;
    border: 3px solid black; /* GET RID OF BORDER LATER!!! */
}

/*
I'm already using flex-wrap so I don't think using media query would be necessary..but I might
use them for text (reduce size) and stuff... idk.

@media only screen and (max-width: 800px) {
    .animals {
        flex-direction: row;
    }
}


*/

.text {

    font-family: josefin-sans, sans-serif;
    font-size: 35px;
    color: rgb(155, 86, 160) ;
    text-align: center;
}

.fennec {
    color: rgb(255, 109, 153);
}

.vaquita {
    color:rgb(10, 175, 98);
}

.quokka {
    color: rgb(252, 108, 52);
}

.capybara{
    color: rgb(98, 86, 177);
}

.animals img{
    height: 250px;
    margin-top: 30px;

}

.animals img:hover{
    animation: rotate 5s infinite;
    background-color: rgb(80, 204, 204);
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100% {transform: rotate(180deg);}
    }


.animals img:hover{
    
    cursor: url(img/orange_heart.png), auto;
          
}

.animals p:hover{
    cursor: help, auto;
}
