*{
    background-color: rgb(128, 228, 228);
    box-sizing: border-box;

}



.button{
    padding: 10px;
}

header{
    display: block;
    margin: auto;
    text-align: center;
    padding: 50px;
}

header img{
    padding-bottom: 30px;
}

div{
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
    padding-bottom: 300px;
    border: 1px solid black;
}

span{
    color: rgb(255, 251, 0);
}

nav{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

footer{
    text-align: center;
    padding-bottom: 15px;
}


div {
    opacity: 0;
    transform: translate(0, 20px); transition: all 2s ease-in;
    }
    
    div.visible {
    opacity: 1;
    transform: translate(0, 0); 
    }


.quote {
    padding: 200px;

}

#hide{
    display: none;
}