*{
    background-color: rgb(255, 244, 105);
}

h1{
    font-size: 60px;
    color:rgb(164, 101, 169) ;
   font-family: 'Opake', Geneva, Verdana, sans-serif;
   text-align: center;
   margin: auto;
   padding-top: 20px;
}